body {
    background: #1e1e2f;   /* dark background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;        /* more breathing space */
}

button.clear {
    grid-column: span 2;
    border-radius: 20px;
}

button {
    border-radius: 50%;
    border: 3px solid #000;
    background: #ffffff;
    font-size: 18px;
    height: 56px;

    box-shadow:
        inset 0 -3px 0 rgba(0,0,0,0.2),
        0 4px 0 #666;

    cursor: pointer;
}

button:active {
    transform: translateY(3px);
    box-shadow:
        inset 0 -1px 0 rgba(0,0,0,0.2),
        0 1px 0 #666;
}

button.operator {
    background: #ff9800;   /* orange */
    color: black;
    font-weight: bold;
}

button.clear {
    background: #e53935;   /* red */
    color: white;
    font-weight: bold;
}

button.number{
    background-color: antiquewhite;
    color:black;
    font-weight: bold;
}

button.operator:hover {
    filter: brightness(1.1);
}

button.clear:hover {
    filter: brightness(1.1);
}

button.number:hover {
    filter: brightness(1.1);
}

.calculator {
    background: #d0d0d0;
   
    border-radius: 30px;
    padding: 24px 20px 30px;
    width: 320px;
    min-height: 560px;

    display: flex;
    flex-direction: column;
}

.calculator-shell {
    background: #bfbfbf;
    border: 6px solid #000;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 
        inset 0 6px 0 #e6e6e6,
        inset 0 -6px 0 #9e9e9e,
        0 15px 35px rgba(0,0,0,0.5);
}

.calculator-shell::after {
    content: "";
    display: block;
    height: 8px;
    margin-top: 6px;
    background: rgba(0,0,0,0.3);
    border-radius: 0 0 30px 30px;
}

.display-bezel {
 background: #f5f5f5;
    border: 4px solid #000;
    border-radius: 28px;
    padding: 12px;
    margin-bottom: 24px;
}

#display {
 width: 96%;                 /* or calc(100% - 14px) */
    height: 70px;
    background: white;
    border: 3px solid #000;
    border-radius: 20px;
    font-size: 28px;
    text-align: right;
    padding: 12px 14px;         /* equal left & right */
    margin-left: 0;
    margin-right: auto;
}

* {
    box-sizing: border-box;
}